.products-wrapper {
    display: grid;
    margin-right: 40px;
    padding: 20px;
    max-height: fit-content;
    grid-gap: 10px;
    grid-template-columns: 25% 25% 25% 25%;
}
.product-price {
    display: flex;
}

.product-image {
    width: 100%;
    max-height: 330px;
    padding: 10px;
    object-fit: cover;
    
}
.product-container {
    margin: 10px;
    height: fit-content;
    position: relative;
}
.price-container {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: -1em;
    left: 5px;
}
.product-price {
    font-weight: 700;
    font-size: 12px;
    padding: 5px
}
.product-price-mrp {
    text-decoration: line-through;
    font-size: 12px;
    padding: 5px
}
.product-price-discount {
    color: orange;
    padding: 5px;
    font-size: 12px;
}
.product-name {
    margin: 10px;
}
.product-container:hover {
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    .products-wrapper {
        grid-template-columns: 100%;
        margin: 10px;
    }
}